@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~leonardo-ui/dist/leonardo-ui";

.dropdown-item.O { // Optional
  color: $gray-900;
}
.dropdown-item.S { // Selected
  color: $gray-100;
  background-color: theme-color("qselected")
}
.dropdown-item.A { // Alternative
  color: $gray-900;
  background-color: theme-color("qalternative");
}
.dropdown-item.X { // Excluded 
  color: $gray-100;
  background-color: theme-color("qexcluded");
}
.dropdown-item.XS { // Excluded Selected
  color: $gray-100;
  background-color: theme-color("qexcluded");
}

.fixed-table {
  table-layout: fixed;
}
th {
  position: relative;
  cursor: pointer;
}
th, td {
  overflow: hidden;
}
th.active:after {
  position: absolute;
  top: calc(50% - 0.125rem);
  margin-left: 0.5rem;
  content:"";
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #666;
}

/****************
 * QdtButton 
*****************/
.qtd-button {
    display: inline-block;
    cursor: pointer;
}

/****************
 * QdtSelectionToolbar
*****************/
.qdt-selection-toolbar {
    li {
        display: inline-block;
        padding-right: 5px;
        lui-button {
            border: 1px solid $gray-400;
            padding: 5px 10px;
            cursor: pointer;
            position: relative;
            display: inline-block;
        }        
        .btn-secondary {
            color: $gray-900 !important;
            background-color: #FFFFFF !important;
            font-size: 13px;
            border: 0;
            padding: 5px 10px;
            &:focus {
                box-shadow: 0;
            }
        }
    }
    .lui-icon {
        font-size: 13px;
        padding-left: 2px;
    }
    .lui-icon--remove {
        color: $red;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
        &.pull-right {
            position: absolute;
            right: 0;
            padding-right: 5px;
        }
    }
    .dropdown-item {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 25px;
    }
}

.qtd-picasso-horizontal-bar {
    #barchart {
        height:400px;
        position:relative;
    }
}


.tooltip {
	min-height: 28px;
	box-sizing: border-box;
	display: none;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 13px;
	position: relative;
	transition: opacity 50ms ease-out;
	opacity: 1.0;
	z-index: 1021;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.9);
}