@import "_variables";

@font-face {
    font-family: "LUI icons";
    src: url(../../node_modules/qdt-lui/dist/lui-icons.woff) format('woff'),
        url(../../node_modules/qdt-lui/dist/lui-icons.ttf) format('truetype');
  }

.O { // Optional
  color: $gray-900 !important;
}
.S { // Selected
  color: $gray-100 !important;
  background-color: #52CC52 !important;
}
.A { // Alternative
  color: $gray-900 !important;
  background-color: #dddddd !important;
}
.X { // Excluded 
  color: $gray-100 !important;
  background-color: #A9A9A9 !important;
}
.XS { // Excluded Selected
  color: $gray-100 !important;
  background-color: #A9A9A9 !important;
}
.lui-list__item.S, .lui-list__item.A, .lui-list__item.X, .lui-list__item.XS {
  border-bottom: 1px solid #fff;
}

.fixed-table {
  table-layout: fixed;
}
th {
  position: relative;
  cursor: pointer;
}
th, td {
  overflow: hidden;
}
th.active:after {
  position: absolute;
  top: calc(50% - 0.125rem);
  margin-left: 0.5rem;
  content:"";
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #666;
}

/****************
 * QdtButton 
*****************/
.qtd-button {
    display: inline-block;
    cursor: pointer;
}

/**********************
 * QdtSelectionToolbar
**********************/
.qdt-selection-toolbar {
    ul {
        padding: 0;
        font-size: 13px;
        li {
            display: inline-block;
            padding-right: 5px;
            .dropdown-item {
                font-size: 13px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 25px;
            }
            lui-button {
                border: 1px solid $gray-400;
                padding: 5px 10px;
                cursor: pointer;
                position: relative;
                display: inline-block;
            }        
            .btn-secondary {
                color: $gray-900 !important;
                background-color: #FFFFFF !important;
                font-size: 13px;
                border: 0;
                padding: 5px 10px;
                &:focus {
                    box-shadow: 0;
                }
            }
            .clear-all {
                padding-left: 15px;
            }
        }
    }
    .lui-icon {
        font-size: 13px;
        padding-left: 2px;
    }
    .lui-icon--remove {
        color: $red;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
        &.pull-right {
            position: absolute;
            right: 0;
            padding-right: 5px;
        }
    }
}

/**********************
 * QdtChart
**********************/
.qtd-chart {
    .qdt-chart-header {
        height: 30px;
        .qdt-chart-selection {
            // display: none;
            text-align: right;
            // position: absolute;
            // right: 0;
            // top: -30px;
            .lui-button {
                border: 0;
                padding: 0;
                margin-left: 5px;
                // .lui-icon--tick { color: #77b62a }
                .lui-icon--remove { color: #F37777 }
            }
        }
    }
    .qdt-chart-svg {
        position: relative;
        rect { 
            // fill: #49637A;
            &:hover {
                fill: #77b62a!important;
            }
         }
         circle,
         rect,
         path {
            cursor: pointer;
         }
    }
    &::-webkit-scrollbar { 
        width: 10px; 
        height: 10px; 
    }     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
    }     
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 5px;
    }
}

.qdt-tooltip {
    position: relative;
    background: #000000;
    border: 1px solid #d1d1d1;
    color: white;
    padding: 15px;
    display: none;
    z-index: 9999999;
    &:after, 
    &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }    
    &:after {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 10px;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(209, 209, 209, 0);
        border-top-color: #d1d1d1;
        border-width: 11px;
        margin-left: -11px;
    }
}

/**********************
 * Preloader
**********************/
.qtd-preloader {    
    .qtd-preloader-ball1 {
        background-color: rgba(0,0,0,0);
        border: 5px solid rgba(0,183,229,0.9);
        opacity: .9;
        border-top: 5px solid rgba(0,0,0,0);
        border-left: 5px solid rgba(0,0,0,0);
        border-radius: 50px;
        // box-shadow: 0 0 35px #2187e7;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        -moz-animation: spin .5s infinite linear;
        -webkit-animation: spin .5s infinite linear;
    }
    .qtd-preloader-ball2 {
        background-color: rgba(0,0,0,0);
        border: 5px solid rgba(0,183,229,0.9);
        opacity: .9;
        border-top: 5px solid rgba(0,0,0,0);
        border-left: 5px solid rgba(0,0,0,0);
        border-radius: 50px;
        // box-shadow: 0 0 15px #2187e7;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        top: -40px;
        -moz-animation: spinoff .5s infinite linear;
        -webkit-animation: spinoff .5s infinite linear;
    }
    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }
    
        100% {
            -moz-transform: rotate(360deg);
        };
    }    
    @-moz-keyframes spinoff {
        0% {
            -moz-transform: rotate(0deg);
        }
    
        100% {
            -moz-transform: rotate(-360deg);
        };
    }    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
    
        100% {
            -webkit-transform: rotate(360deg);
        };
    }    
    @-webkit-keyframes spinoff {
        0% {
            -webkit-transform: rotate(0deg);
        }
    
        100% {
            -webkit-transform: rotate(-360deg);
        };
    }
}


/**********************
 * QdtSearch
**********************/
.qtd-search {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid $gray-300;
    .qtd-search-results {
        display: block;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 6px 0;
        z-index: 99999;
        .qtd-search-item {
            padding: 3px 30px;
            cursor: pointer;
            &.selected {
                color: white;
                background-color: $green;
            }
        }
    }
}