@import "_variables";
@import "~bootstrap/scss/bootstrap";

.dropdown-item.O { // Optional
  color: $gray-900;
}
.dropdown-item.S { // Selected
  color: $gray-100;
  background-color: theme-color("qselected")
}
.dropdown-item.A { // Alternative
  color: $gray-900;
  background-color: theme-color("qalternative");
}
.dropdown-item.X { // Excluded 
  color: $gray-100;
  background-color: theme-color("qexcluded");
}
.dropdown-item.XS { // Excluded Selected
  color: $gray-100;
  background-color: theme-color("qexcluded");
}

.fixed-table {
  table-layout: fixed;
}
th {
  position: relative;
  cursor: pointer;
}
th, td {
  overflow: hidden;
}
th.active:after {
  position: absolute;
  top: calc(50% - 0.125rem);
  margin-left: 0.5rem;
  content:"";
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #666;
}

/****************
 * QdtButton 
*****************/
.qtd-button {
    padding: 15px 30px;
    border: 1px solid $gray-600;
    display: inline-block;
    cursor: pointer;
}