@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~leonardo-ui/dist/leonardo-ui";

@font-face {
    font-family: "LUI icons";
    src: url(../../node_modules/leonardo-ui/dist/lui-icons.woff) format('woff'),
        url(../../node_modules/leonardo-ui/dist/lui-icons.ttf) format('truetype');
  }

.dropdown-item.O { // Optional
  color: $gray-900;
}
.dropdown-item.S { // Selected
  color: $gray-100;
  background-color: theme-color("qselected")
}
.dropdown-item.A { // Alternative
  color: $gray-900;
  background-color: theme-color("qalternative");
}
.dropdown-item.X { // Excluded 
  color: $gray-100;
  background-color: theme-color("qexcluded");
}
.dropdown-item.XS { // Excluded Selected
  color: $gray-100;
  background-color: theme-color("qexcluded");
}

.fixed-table {
  table-layout: fixed;
}
th {
  position: relative;
  cursor: pointer;
}
th, td {
  overflow: hidden;
}
th.active:after {
  position: absolute;
  top: calc(50% - 0.125rem);
  margin-left: 0.5rem;
  content:"";
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #666;
}

/****************
 * QdtButton 
*****************/
.qtd-button {
    display: inline-block;
    cursor: pointer;
}

/**********************
 * QdtSelectionToolbar
**********************/
.qdt-selection-toolbar {
    ul {
        padding: 0;
        font-size: 13px;
        li {
            display: inline-block;
            padding-right: 5px;
            .dropdown-item {
                font-size: 13px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 25px;
            }
            lui-button {
                border: 1px solid $gray-400;
                padding: 5px 10px;
                cursor: pointer;
                position: relative;
                display: inline-block;
            }        
            .btn-secondary {
                color: $gray-900 !important;
                background-color: #FFFFFF !important;
                font-size: 13px;
                border: 0;
                padding: 5px 10px;
                &:focus {
                    box-shadow: 0;
                }
            }
            .clear-all {
                padding-left: 15px;
            }
        }
    }
    .lui-icon {
        font-size: 13px;
        padding-left: 2px;
    }
    .lui-icon--remove {
        color: $red;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
        &.pull-right {
            position: absolute;
            right: 0;
            padding-right: 5px;
        }
    }
}

/**********************
 * QdtChart
**********************/
.qtd-chart {
    .qdt-chart-header {
        height: 30px;
        .qdt-chart-selection {
            // display: none;
            text-align: right;
            // position: absolute;
            // right: 0;
            // top: -30px;
            .lui-button {
                border: 0;
                padding: 0;
                margin-left: 5px;
                // .lui-icon--tick { color: #77b62a }
                .lui-icon--remove { color: #F37777 }
            }
        }
    }
    .qdt-chart-svg {
        position: relative;
        rect { 
            // fill: #49637A;
            &:hover {
                fill: #77b62a!important;
            }
         }
         circle,
         rect,
         path {
            cursor: pointer;
         }
    }
    &::-webkit-scrollbar { 
        width: 10px; 
        height: 10px; 
    }     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
    }     
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 5px;
    }
}

.qdt-tooltip {
    position: relative;
    background: #000000;
    border: 1px solid #d1d1d1;
    color: white;
    padding: 15px;
    display: none;
    z-index: 9999999;
    &:after, 
    &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }    
    &:after {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 10px;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(209, 209, 209, 0);
        border-top-color: #d1d1d1;
        border-width: 11px;
        margin-left: -11px;
    }
}
