// ============================================================================
// Main colors
$sn-dk-blue: rgb(15, 21, 52);
$sn-blue: rgb(19, 30, 80);
$sn-yellow: rgb(177, 186, 43);
$sn-yellow-o: rgba(177, 186, 43, 0.15);
$sn-teal: rgb(6, 194, 207);
$sn-teal-o: rgba(6, 194, 207, 0.25);
$sn-green: rgb(127, 237, 125);
$sn-female: #DADE50;
$sn-male: #73FBFD;
$sn-millennial: #d72551;
$sn-generationz: #5bd8e4;

// ============================================================================
// MAP Styles

.map-legend {
  position: absolute;
  width: 400px;
  height: 800px;
  top: 10%;
  right: 10%;
  // background-color: #fff;
  z-index: 1000;
}

// SN


.box {
	padding: 25px 30px;
	padding-bottom: 35px;
	display: inline-block;
	background-color: $sn-blue;
	border: 1px solid $sn-yellow;
	border-radius: 16px;
	min-height: 180px;
  width: 300px;
  position: fixed;
  right: 15%;
  bottom: 40%;
	z-index: 1000;
	
	// Timer
	.timer-parent {
		position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 7px;
    left: 10%;
    top: -20px;
		width: 80%;
		text-align: right;
		border-radius: 8px;
		overflow: hidden;
		
		.timer {
			height: 100%;
			background-color: $sn-teal;
			animation: shrink 2s linear infinite;
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	// Question Parent
	.question-parent {
		position: relative;
		font-size: 0;
		margin-bottom: -40px;
		.question, .question-mark {
			vertical-align: top;
			display: inline-block;
			color: #fff;
      font-size: 24px;
      text-transform: uppercase;
		}
		$qWidth: 85%;
		$qmWidth: 15%;
		.question {
			color: #fff;
			width: $qWidth;
			text-align: right;
			padding-right: 10px;
      line-height: 26px;
      font-weight: 700;
      word-wrap: break-word;
		}
		.question-mark {
			width: $qmWidth;
			font-size: 81px;
			position: relative;
      top: -27px;
      line-height: 96px;
		}
	} // end of question-parent
	
	.bar-row {
		.text {
			text-align: left;
			color: $sn-yellow;
			font-size: 12px;
      font-weight: bold;
      margin-bottom: -4px;
      text-transform: uppercase;
			.percent {
				display: inline-block;
				font-size: 20px;
				margin-right: 10px;
			}
		}
		$height: 6px;
		.bar-parent {
			background-color: $sn-yellow-o;
			height: $height;
			margin: 4px 0px;
			.bar-fill {
				background-color: $sn-yellow;
				height: 100%;
				width: 55%;
				transition: 1s ease-in;
			}
		}
	}
	.bar-row-2 {
		.text {
			color: $sn-teal;
		}
		.bar-parent {
			background-color: $sn-teal-o;
      margin-top: 6px;
      margin-bottom: 2px;
			.bar-fill {
				background-color: $sn-teal;
				width: 45%;
			}
		}
	}
	
	
} // end of Box


@keyframes growth {
	0% { width: 0% }
	100% { width: 100% }
}

@keyframes shrink {
	0% { width: 100% }
	100% { width: 0% }
}

#textContainerGender, #textContainerAgeGroup {
	position: absolute;
	right: 0;
	bottom: 15vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	width: 20rem;
	height: 30rem;
	padding-top: 14.1rem;
	padding-left: 3.8rem;
	#textFemale, #textMale, #textMaleHeader, #textFemaleHeader,
	#textMillennial, #textGenerationZ, #textMillennialHeader, #textGenerationZHeader {
		font-family: ProximaNova-BoldIt;
		text-align: left;
		font-size: 3rem;
		transform: rotate(-5deg);
	}
	#textMaleHeader, #textFemaleHeader, #textMillennialHeader, #textGenerationZHeader { line-height: 0; padding-bottom: 5px; font-size: 1.5rem; }
	#textMale, #textFemale, #textMillennial, #textGenerationZ { font-size: 3rem; padding-bottom: 50px; }
	#textFemale, #textFemaleHeader { color: $sn-female; }
	#textMale, #textMaleHeader {  color: $sn-male; }
	#textMillennial, #textMillennialHeader { color: $sn-millennial; }
	#textGenerationZ, #textGenerationZHeader {  color: $sn-generationz; }
}

#textContainerGender { 
	// display: none; 
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
	background-image: url("../../assets/endings@4x.png"); 
} 
#textContainerAgeGroup { 
	// display: inline-block; 
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.3s linear;
	background-image: url("../../assets/endings_2@4x.png"); 
}

#qlikLogo {
	position: absolute;
	right: 7.8rem;
	bottom: 5vh;
	img { width: 8rem; }
}
#tinderLogo {
	position: absolute;
	left: 5rem;
	top: 10vh;
	img { width: 8rem; }
}